.cabecalho{
width:360px;
height:109px;
background-color:rgb(79, 133, 77);
}
.primeira-secao{
    width:360px;
    height:294px;
    background-color:cadetblue;
    }
.segunda-secao{
        width:360px;
        height:43px;
        background-color:rgb(79, 133, 77);
        }
        .terceira-secao{
            width:360px;
            height:239px;
            background-color:rgb(95, 158, 160);
            }



