.cabecalho{
width:360px;
height:109px;
background-color:rgb(79, 133, 77);
}
.primeira-secao{
    width:360px;
    height:581px;
    background-color:cadetblue;
    }
.segunda-secao{
        width:360px;
        height:55px;
        background-color:rgb(79, 133, 77);
        }